/* Small size notificators (not image) (settongs, quests, etc.) */

.ItemNotificationMarkerStyle-base {
	background-color: var(--severitium-main-color);
}

/* Small notificators (containers) */

.LockableContainersComponentStyle-navigationBlock .MenuComponentStyle-commonBlock + span {
	background-color: var(--severitium-main-color);
}

/* Small notificators (top panel with 'links' in quests, pro-battles, etc.) */

.MenuComponentStyle-mainMenuItem + span {
	background-color: var(--severitium-main-color);
}