/* Small size notificators (not image) (settongs, quests, etc.) */

.ItemNotificationMarkerStyle-base {
	background-color: var(--severitium-main-color);
}

/* Small notificators (containers) */

[class*="container"i][class*="navigation"i] .MenuComponentStyle-commonBlock + span {
	background-color: var(--severitium-main-color);
}

/* Small notificators (top panel with 'links' in quests, pro-battles, etc.) */

.MenuComponentStyle-mainMenuItem + span {
	background-color: var(--severitium-main-color);
}

/* Lobby main menu notificators */

.MainScreenComponentStyle-blockMainMenu > ul > li > svg.severitium-notificator-icon {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	height: 2em;
	width: 2em;
	margin: 0;
	padding: 0;
}