/* Buttons container */

.FooterComponentStyle-footer ul {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin-left: 5em;
	padding: 0;
	gap: 1em;
}

/* Single button */

.FooterComponentStyle-footer ul > li {
	position: relative;
	width: auto;
	height: auto;
	padding: 1.5em;
}

/* Button on hover */

.FooterComponentStyle-footer ul > li:hover {
	width: auto;
	height: auto;
	padding: 1.5em;
	box-shadow: none;
}

/* Pseudo elements for beauty animation */

.FooterComponentStyle-footer ul > li::before,
.FooterComponentStyle-footer ul > li::after {
	content: '';
	position: absolute;
	width: 1em;
	height: 1em;
	opacity: 0;
	transition: all .2s ease;
}

/* Before (top-right) */

.FooterComponentStyle-footer ul > li::before {
	right: 0;
	top: 0;
	border-top: var(--theme-main-color) solid .4em;
	border-right: var(--theme-main-color) solid .4em;
	-webkit-transform: translate(-100%, 100%);
			transform: translate(-100%, 100%);
}

/* After (bottom-left) */

.FooterComponentStyle-footer ul > li::after {
	left: 0;
	bottom: 0;
	border-bottom: var(--theme-main-color) solid .4em;
	border-left: var(--theme-main-color) solid .4em;
	-webkit-transform: translate(100%, -100%);
			transform: translate(100%, -100%);
}

/* Pseudo elements on button hover */

.FooterComponentStyle-footer ul > li:hover::before,
.FooterComponentStyle-footer ul > li:hover::after {
	-webkit-transform: translate(0,0) rotate(180deg);
			transform: translate(0,0) rotate(180deg);
	opacity: 1;
}

/* Icon */

.FooterComponentStyle-footer ul > li > div {
	background-image: none;
	background-color: var(--theme-main-color);
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
	/* width: 2em;
	height: 2em; */
}

/* Icon on button hover */

.FooterComponentStyle-footer ul > li:hover > div {
	background-image: none;
}

/* Notification icon */

.FooterComponentStyle-footer ul > li > svg circle {
	transition: fill .2s ease, stroke .2s ease;
}

/* Notification icon on main icon hover */

.FooterComponentStyle-footer ul > li:hover > svg circle {
	fill: transparent;
	stroke: transparent;
}

/* Initial div element with the icon */

/* .FooterComponentStyle-footer ul > li div:first-child {
	display: none;
} */

/* Custom backgrounds for each icon */

.FooterComponentStyle-footer ul > li[class*='news'i] > div {
	-webkit-mask-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="28" height="32"><path d="M0 0 C9.24 0 18.48 0 28 0 C28 8.25 28 16.5 28 25 C26.35 25.66 24.7 26.32 23 27 C22.01 29.475 22.01 29.475 21 32 C14.07 32 7.14 32 0 32 C0 21.44 0 10.88 0 0 Z M7 6 C7 7.32 7 8.64 7 10 C11.62 10 16.24 10 21 10 C21 8.68 21 7.36 21 6 C16.38 6 11.76 6 7 6 Z M7 12 C7 13.32 7 14.64 7 16 C11.62 16 16.24 16 21 16 C21 14.68 21 13.36 21 12 C16.38 12 11.76 12 7 12 Z M7 18 C7 19.32 7 20.64 7 22 C8.98 22 10.96 22 13 22 C13 20.68 13 19.36 13 18 C11.02 18 9.04 18 7 18 Z " transform="translate(0,0)"/></svg>');
			mask-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="28" height="32"><path d="M0 0 C9.24 0 18.48 0 28 0 C28 8.25 28 16.5 28 25 C26.35 25.66 24.7 26.32 23 27 C22.01 29.475 22.01 29.475 21 32 C14.07 32 7.14 32 0 32 C0 21.44 0 10.88 0 0 Z M7 6 C7 7.32 7 8.64 7 10 C11.62 10 16.24 10 21 10 C21 8.68 21 7.36 21 6 C16.38 6 11.76 6 7 6 Z M7 12 C7 13.32 7 14.64 7 16 C11.62 16 16.24 16 21 16 C21 14.68 21 13.36 21 12 C16.38 12 11.76 12 7 12 Z M7 18 C7 19.32 7 20.64 7 22 C8.98 22 10.96 22 13 22 C13 20.68 13 19.36 13 18 C11.02 18 9.04 18 7 18 Z " transform="translate(0,0)"/></svg>');
}

.FooterComponentStyle-footer ul > li[class*='chat'i] > div {
	-webkit-mask-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M0 0 C0.66209473 -0.00095673 1.32418945 -0.00191345 2.00634766 -0.00289917 C3.40852961 -0.00358076 4.8107147 -0.00172792 6.21289062 0.00244141 C8.36595713 0.00779004 10.51881502 0.0024958 12.671875 -0.00390625 C14.03125046 -0.00324546 15.3906258 -0.00196429 16.75 0 C18.61785156 0.00169189 18.61785156 0.00169189 20.5234375 0.00341797 C23.375 0.1328125 23.375 0.1328125 24.375 1.1328125 C24.4741657 2.75538794 24.50579777 4.38221081 24.5078125 6.0078125 C24.50974609 7.48507812 24.50974609 7.48507812 24.51171875 8.9921875 C24.50785156 10.02859375 24.50398438 11.065 24.5 12.1328125 C24.50580078 13.68742188 24.50580078 13.68742188 24.51171875 15.2734375 C24.51042969 16.25828125 24.50914063 17.243125 24.5078125 18.2578125 C24.50668457 19.16789062 24.50555664 20.07796875 24.50439453 21.015625 C24.375 23.1328125 24.375 23.1328125 23.375 24.1328125 C21.66698664 24.18600323 19.95853063 24.22522472 18.25 24.2578125 C13.66768617 24.5979061 11.45404796 25.37778784 8.25 28.6953125 C7.28852045 29.83850709 6.32921808 30.98354984 5.375 32.1328125 C5.045 32.1328125 4.715 32.1328125 4.375 32.1328125 C4.375 29.4928125 4.375 26.8528125 4.375 24.1328125 C3.59253906 24.14441406 2.81007813 24.15601562 2.00390625 24.16796875 C0.99199219 24.17699219 -0.01992187 24.18601562 -1.0625 24.1953125 C-2.07183594 24.20691406 -3.08117187 24.21851562 -4.12109375 24.23046875 C-6.625 24.1328125 -6.625 24.1328125 -7.625 23.1328125 C-7.7241657 21.51023706 -7.75579777 19.88341419 -7.7578125 18.2578125 C-7.75910156 17.27296875 -7.76039063 16.288125 -7.76171875 15.2734375 C-7.75785156 14.23703125 -7.75398437 13.200625 -7.75 12.1328125 C-7.75580078 10.57820312 -7.75580078 10.57820312 -7.76171875 8.9921875 C-7.76042969 8.00734375 -7.75914062 7.0225 -7.7578125 6.0078125 C-7.75668457 5.09773437 -7.75555664 4.18765625 -7.75439453 3.25 C-7.47430191 -1.33294948 -3.81114892 0.00345213 0 0 Z M-1.625 10.1328125 C-1.625 11.4528125 -1.625 12.7728125 -1.625 14.1328125 C-0.305 14.1328125 1.015 14.1328125 2.375 14.1328125 C2.375 12.8128125 2.375 11.4928125 2.375 10.1328125 C1.055 10.1328125 -0.265 10.1328125 -1.625 10.1328125 Z M6.375 10.1328125 C6.375 11.4528125 6.375 12.7728125 6.375 14.1328125 C7.695 14.1328125 9.015 14.1328125 10.375 14.1328125 C10.375 12.8128125 10.375 11.4928125 10.375 10.1328125 C9.055 10.1328125 7.735 10.1328125 6.375 10.1328125 Z M14.375 10.1328125 C14.375 11.4528125 14.375 12.7728125 14.375 14.1328125 C15.695 14.1328125 17.015 14.1328125 18.375 14.1328125 C18.375 12.8128125 18.375 11.4928125 18.375 10.1328125 C17.055 10.1328125 15.735 10.1328125 14.375 10.1328125 Z " transform="translate(7.625,-0.1328125)"/></svg>');
			mask-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M0 0 C0.66209473 -0.00095673 1.32418945 -0.00191345 2.00634766 -0.00289917 C3.40852961 -0.00358076 4.8107147 -0.00172792 6.21289062 0.00244141 C8.36595713 0.00779004 10.51881502 0.0024958 12.671875 -0.00390625 C14.03125046 -0.00324546 15.3906258 -0.00196429 16.75 0 C18.61785156 0.00169189 18.61785156 0.00169189 20.5234375 0.00341797 C23.375 0.1328125 23.375 0.1328125 24.375 1.1328125 C24.4741657 2.75538794 24.50579777 4.38221081 24.5078125 6.0078125 C24.50974609 7.48507812 24.50974609 7.48507812 24.51171875 8.9921875 C24.50785156 10.02859375 24.50398438 11.065 24.5 12.1328125 C24.50580078 13.68742188 24.50580078 13.68742188 24.51171875 15.2734375 C24.51042969 16.25828125 24.50914063 17.243125 24.5078125 18.2578125 C24.50668457 19.16789062 24.50555664 20.07796875 24.50439453 21.015625 C24.375 23.1328125 24.375 23.1328125 23.375 24.1328125 C21.66698664 24.18600323 19.95853063 24.22522472 18.25 24.2578125 C13.66768617 24.5979061 11.45404796 25.37778784 8.25 28.6953125 C7.28852045 29.83850709 6.32921808 30.98354984 5.375 32.1328125 C5.045 32.1328125 4.715 32.1328125 4.375 32.1328125 C4.375 29.4928125 4.375 26.8528125 4.375 24.1328125 C3.59253906 24.14441406 2.81007813 24.15601562 2.00390625 24.16796875 C0.99199219 24.17699219 -0.01992187 24.18601562 -1.0625 24.1953125 C-2.07183594 24.20691406 -3.08117187 24.21851562 -4.12109375 24.23046875 C-6.625 24.1328125 -6.625 24.1328125 -7.625 23.1328125 C-7.7241657 21.51023706 -7.75579777 19.88341419 -7.7578125 18.2578125 C-7.75910156 17.27296875 -7.76039063 16.288125 -7.76171875 15.2734375 C-7.75785156 14.23703125 -7.75398437 13.200625 -7.75 12.1328125 C-7.75580078 10.57820312 -7.75580078 10.57820312 -7.76171875 8.9921875 C-7.76042969 8.00734375 -7.75914062 7.0225 -7.7578125 6.0078125 C-7.75668457 5.09773437 -7.75555664 4.18765625 -7.75439453 3.25 C-7.47430191 -1.33294948 -3.81114892 0.00345213 0 0 Z M-1.625 10.1328125 C-1.625 11.4528125 -1.625 12.7728125 -1.625 14.1328125 C-0.305 14.1328125 1.015 14.1328125 2.375 14.1328125 C2.375 12.8128125 2.375 11.4928125 2.375 10.1328125 C1.055 10.1328125 -0.265 10.1328125 -1.625 10.1328125 Z M6.375 10.1328125 C6.375 11.4528125 6.375 12.7728125 6.375 14.1328125 C7.695 14.1328125 9.015 14.1328125 10.375 14.1328125 C10.375 12.8128125 10.375 11.4928125 10.375 10.1328125 C9.055 10.1328125 7.735 10.1328125 6.375 10.1328125 Z M14.375 10.1328125 C14.375 11.4528125 14.375 12.7728125 14.375 14.1328125 C15.695 14.1328125 17.015 14.1328125 18.375 14.1328125 C18.375 12.8128125 18.375 11.4928125 18.375 10.1328125 C17.055 10.1328125 15.735 10.1328125 14.375 10.1328125 Z " transform="translate(7.625,-0.1328125)"/></svg>');
}

.FooterComponentStyle-footer ul > li[class*='friend'i] > div {
	-webkit-mask-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="32"><path d="M0 0 C1.010625 0.0825 2.02125 0.165 3.0625 0.25 C5.0625 3.25 5.0625 3.25 4.8125 5.8125 C4.0625 8.25 4.0625 8.25 2.0625 10.25 C-1.23464793 9.92028521 -2.5601839 9.6273161 -4.9375 7.25 C-4.23447766 0.36038108 -4.23447766 0.36038108 0 0 Z " transform="translate(24.9375,16.75)"/><path d="M0 0 C3.0625 0.1875 3.0625 0.1875 5.0625 2.1875 C5.43046448 5.05762296 5.43759409 6.59524618 3.875 9.0625 C2.0625 10.1875 2.0625 10.1875 -0.5 10 C-2.9375 9.1875 -2.9375 9.1875 -4.9375 7.1875 C-4.23164336 0.2701049 -4.23164336 0.2701049 0 0 Z " transform="translate(4.9375,16.8125)"/><path d="M0 0 C2.4375 0.8125 2.4375 0.8125 4.4375 2.8125 C3.86931818 8.38068182 3.86931818 8.38068182 2.4375 9.8125 C-0.5 10 -0.5 10 -3.5625 9.8125 C-5.5625 7.8125 -5.5625 7.8125 -5.875 5.375 C-5.5625 2.8125 -5.5625 2.8125 -4.375 0.9375 C-2.5625 -0.1875 -2.5625 -0.1875 0 0 Z " transform="translate(25.5625,5.1875)"/><path d="M0 0 C3.29714793 0.32971479 4.6226839 0.6226839 7 3 C6.43181818 8.56818182 6.43181818 8.56818182 5 10 C2.0625 10.25 2.0625 10.25 -1 10 C-3 7 -3 7 -2.75 4.4375 C-2 2 -2 2 0 0 Z " transform="translate(3,5)"/><path d="M0 0 C3 0.25 3 0.25 5 2.25 C5.25 4.75 5.25 4.75 5 7.25 C3 9.25 3 9.25 0 9.5 C-3 9.25 -3 9.25 -5 7.25 C-5.25 4.75 -5.25 4.75 -5 2.25 C-3 0.25 -3 0.25 0 0 Z " transform="translate(15,22.75)"/><path d="M0 0 C3 0.25 3 0.25 5 2.25 C5.25 4.75 5.25 4.75 5 7.25 C3 9.25 3 9.25 0 9.5 C-3 9.25 -3 9.25 -5 7.25 C-5.25 4.75 -5.25 4.75 -5 2.25 C-3 0.25 -3 0.25 0 0 Z " transform="translate(15,-0.25)"/></svg>');
			mask-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="32"><path d="M0 0 C1.010625 0.0825 2.02125 0.165 3.0625 0.25 C5.0625 3.25 5.0625 3.25 4.8125 5.8125 C4.0625 8.25 4.0625 8.25 2.0625 10.25 C-1.23464793 9.92028521 -2.5601839 9.6273161 -4.9375 7.25 C-4.23447766 0.36038108 -4.23447766 0.36038108 0 0 Z " transform="translate(24.9375,16.75)"/><path d="M0 0 C3.0625 0.1875 3.0625 0.1875 5.0625 2.1875 C5.43046448 5.05762296 5.43759409 6.59524618 3.875 9.0625 C2.0625 10.1875 2.0625 10.1875 -0.5 10 C-2.9375 9.1875 -2.9375 9.1875 -4.9375 7.1875 C-4.23164336 0.2701049 -4.23164336 0.2701049 0 0 Z " transform="translate(4.9375,16.8125)"/><path d="M0 0 C2.4375 0.8125 2.4375 0.8125 4.4375 2.8125 C3.86931818 8.38068182 3.86931818 8.38068182 2.4375 9.8125 C-0.5 10 -0.5 10 -3.5625 9.8125 C-5.5625 7.8125 -5.5625 7.8125 -5.875 5.375 C-5.5625 2.8125 -5.5625 2.8125 -4.375 0.9375 C-2.5625 -0.1875 -2.5625 -0.1875 0 0 Z " transform="translate(25.5625,5.1875)"/><path d="M0 0 C3.29714793 0.32971479 4.6226839 0.6226839 7 3 C6.43181818 8.56818182 6.43181818 8.56818182 5 10 C2.0625 10.25 2.0625 10.25 -1 10 C-3 7 -3 7 -2.75 4.4375 C-2 2 -2 2 0 0 Z " transform="translate(3,5)"/><path d="M0 0 C3 0.25 3 0.25 5 2.25 C5.25 4.75 5.25 4.75 5 7.25 C3 9.25 3 9.25 0 9.5 C-3 9.25 -3 9.25 -5 7.25 C-5.25 4.75 -5.25 4.75 -5 2.25 C-3 0.25 -3 0.25 0 0 Z " transform="translate(15,22.75)"/><path d="M0 0 C3 0.25 3 0.25 5 2.25 C5.25 4.75 5.25 4.75 5 7.25 C3 9.25 3 9.25 0 9.5 C-3 9.25 -3 9.25 -5 7.25 C-5.25 4.75 -5.25 4.75 -5 2.25 C-3 0.25 -3 0.25 0 0 Z " transform="translate(15,-0.25)"/></svg>');
}

.FooterComponentStyle-footer ul > li[class*='clan'i] > div {
	-webkit-mask-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="28" height="32"><path d="M0 0 C9.24 0 18.48 0 28 0 C28 10.56 28 21.12 28 32 C24.04439671 30.02219835 20.82377081 27.7063723 17.31640625 25.046875 C15.0158216 23.7183777 15.0158216 23.7183777 12.4765625 24.6328125 C10.05620793 25.96897038 7.96863484 27.39842394 5.8125 29.125 C2.215311 32 2.215311 32 0 32 C0 21.44 0 10.88 0 0 Z M13 4 C12.67 5.65 12.34 7.3 12 9 C10.02 9 8.04 9 6 9 C6.680625 9.721875 7.36125 10.44375 8.0625 11.1875 C10 14 10 14 9.75 16.8125 C9.5025 17.534375 9.255 18.25625 9 19 C10.36125 18.443125 10.36125 18.443125 11.75 17.875 C15 17 15 17 17.375 17.875 C17.91125 18.24625 18.4475 18.6175 19 19 C18.7525 18.0925 18.505 17.185 18.25 16.25 C18 13 18 13 19.9375 10.625 C20.618125 10.08875 21.29875 9.5525 22 9 C19.03 8.505 19.03 8.505 16 8 C15.67 6.68 15.34 5.36 15 4 C14.34 4 13.68 4 13 4 Z " transform="translate(0,0)"/></svg>');
			mask-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="28" height="32"><path d="M0 0 C9.24 0 18.48 0 28 0 C28 10.56 28 21.12 28 32 C24.04439671 30.02219835 20.82377081 27.7063723 17.31640625 25.046875 C15.0158216 23.7183777 15.0158216 23.7183777 12.4765625 24.6328125 C10.05620793 25.96897038 7.96863484 27.39842394 5.8125 29.125 C2.215311 32 2.215311 32 0 32 C0 21.44 0 10.88 0 0 Z M13 4 C12.67 5.65 12.34 7.3 12 9 C10.02 9 8.04 9 6 9 C6.680625 9.721875 7.36125 10.44375 8.0625 11.1875 C10 14 10 14 9.75 16.8125 C9.5025 17.534375 9.255 18.25625 9 19 C10.36125 18.443125 10.36125 18.443125 11.75 17.875 C15 17 15 17 17.375 17.875 C17.91125 18.24625 18.4475 18.6175 19 19 C18.7525 18.0925 18.505 17.185 18.25 16.25 C18 13 18 13 19.9375 10.625 C20.618125 10.08875 21.29875 9.5525 22 9 C19.03 8.505 19.03 8.505 16 8 C15.67 6.68 15.34 5.36 15 4 C14.34 4 13.68 4 13 4 Z " transform="translate(0,0)"/></svg>');
}