/* Sound button (top-right corner) */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-blockForIconToggleSound {
	width: auto;
	height: 2.5em;
	min-width: auto;
	min-height: auto;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 0;
	padding: .5em .75em;
	margin-left: .5em;
	background-color: transparent;
	border-radius: .25em;
	border: .1em solid var(--severitium-gray-color);
	transition: background-color .2s ease;
}

/* Sound button (top-right corner) on hover */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-blockForIconToggleSound:hover {
	background-color: var(--severitium-light-transparent-background3);
}

/* Sound button image (both states) */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-blockForIconToggleSound > [class*="enable"i] {
	width: 1.5em;
	height: 1.5em;
	background-image: none;
	background-color: var(--severitium-gray-color);
	-webkit-mask-size: contain;
		mask-size: contain;
	-webkit-mask-position: center;
		mask-position: center;
	-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
	background-image: none;
	transition: background-color .2s ease;
}

/* Sound button image (both states) on button hover */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-blockForIconToggleSound:hover > [class*="enable"i] {
	background-color: var(--severitium-white-color);
}

/* Sound button image (enabled) */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-blockForIconToggleSound > [class*="enable"i]:not([class*="disable"i]) {
	-webkit-mask-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M10.5 1.5L4.5 7.5H0.75C0.335786 7.5 0 7.83579 0 8.25V15.75C0 16.1642 0.335787 16.5 0.75 16.5H4.5L10.5 22.5V1.5Z"/><path d="M22.5 12C22.5 7.02944 18.4706 3 13.5 3V1.5C19.299 1.5 24 6.20101 24 12C24 17.799 19.299 22.5 13.5 22.5V21C18.4706 21 22.5 16.9706 22.5 12Z"/><path d="M13.5 7.5C15.9853 7.5 18 9.51472 18 12C18 14.4853 15.9853 16.5 13.5 16.5V18C16.8137 18 19.5 15.3137 19.5 12C19.5 8.68629 16.8137 6 13.5 6V7.5Z"/></svg>');
			mask-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M10.5 1.5L4.5 7.5H0.75C0.335786 7.5 0 7.83579 0 8.25V15.75C0 16.1642 0.335787 16.5 0.75 16.5H4.5L10.5 22.5V1.5Z"/><path d="M22.5 12C22.5 7.02944 18.4706 3 13.5 3V1.5C19.299 1.5 24 6.20101 24 12C24 17.799 19.299 22.5 13.5 22.5V21C18.4706 21 22.5 16.9706 22.5 12Z"/><path d="M13.5 7.5C15.9853 7.5 18 9.51472 18 12C18 14.4853 15.9853 16.5 13.5 16.5V18C16.8137 18 19.5 15.3137 19.5 12C19.5 8.68629 16.8137 6 13.5 6V7.5Z"/></svg>');
}

/* Sound button image (disabled) */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-blockForIconToggleSound > [class*="enable"i][class*="disable"i] {
	-webkit-mask-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M4.5 7.5L10.5 1.5V22.5L4.5 16.5H0.75C0.335787 16.5 0 16.1642 0 15.75V8.25C0 7.83579 0.335786 7.5 0.75 7.5H4.5Z"/><path d="M24 8.0625L22.6875 6.75L18.75 10.6875L14.8125 6.75L13.5 8.0625L17.4375 12L13.5 15.9375L14.8125 17.25L18.75 13.3125L22.6875 17.25L24 15.9375L21.375 13.3125H18.75L24 8.0625Z"/></svg>');
			mask-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M4.5 7.5L10.5 1.5V22.5L4.5 16.5H0.75C0.335787 16.5 0 16.1642 0 15.75V8.25C0 7.83579 0.335786 7.5 0.75 7.5H4.5Z"/><path d="M24 8.0625L22.6875 6.75L18.75 10.6875L14.8125 6.75L13.5 8.0625L17.4375 12L13.5 15.9375L14.8125 17.25L18.75 13.3125L22.6875 17.25L24 15.9375L21.375 13.3125H18.75L24 8.0625Z"/></svg>');
}

/* Button 'back' with arrow (top-left corner) the arrow element */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-backArrowBlock > div {
	background-color: var(--severitium-extra-light-gray-color);
	transition: background-color .2s ease;
}

/* Button 'back' with arrow (top-left corner) the text */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-backArrowBlock > span {
	color: var(--severitium-extra-light-gray-color) !important;
	transition: color .2s ease;
}

/* Button 'back' with arrow (top-left corner) the arrow element on hover */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-backArrowBlock:hover > div {
	background-color: var(--severitium-white-color);
}

/* Button 'back' with arrow (top-left corner) the text on hover */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-backArrowBlock:hover > span {
	color: var(--severitium-white-color) !important;
}

/* General container of buttons or login/register */

.EntranceComponentStyle-ContainerForm {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Form inside the container */

.EntranceComponentStyle-ContainerForm form {
	width: auto;
	padding: 1.5em;
	/* border-radius: .5em; */
	/* background-color: var(--severitium-dark-transparent-background1); */
	/* border: .1em solid var(--severitium-light-gray-color); */
	/* box-shadow: 0 0 1em 0 var(--severitium-white-color); */
	/* backdrop-filter: blur(.2em); */
}

/* Header + buttons containers + login/register elements */

.EntranceComponentStyle-ContainerForm form > div {
	width: auto;
}

/* Title text of the container */

.MainEntranceComponentStyle-title,
.EntranceComponentStyle-title {
	font-size: 1.5em;
}

/* Registration container with passwords and button */

.EntranceComponentStyle-ContainerForm form > .RegistrationComponentStyle-containerItem + div {
	display: flex;
	flex-direction: column;
}

/* Creepy thing for input background */

.InputComponentStyle-blurBackground {
	display: none;
}

/* Entrance error icon */

.EntranceComponentStyle-commonBlockMessageError {
	right: 3em;
}

/* Inputs for text and password */

.EntranceComponentStyle-ContainerForm form input[type='text'],
.EntranceComponentStyle-ContainerForm form input[type='password'] {
	background-color: var(--severitium-dark-transparent-background2);
	border: .1em solid var(--severitium-light-gray-color);
	transition: background-color .2s ease;
}

/* Inputs for text and password on hover */

.EntranceComponentStyle-ContainerForm form input[type='text']:hover,
.EntranceComponentStyle-ContainerForm form input[type='password']:hover,
.EntranceComponentStyle-ContainerForm form input[type='text']:focus,
.EntranceComponentStyle-ContainerForm form input[type='password']:focus {
	background-color: var(--severitium-light-transparent-background2);
	color: var(--severitium-white-text-color);
}

/* Invalid inputs for text and password */

.EntranceComponentStyle-ContainerForm form input[type='text'][class*='invalid'],
.EntranceComponentStyle-ContainerForm form input[type='password'][class*='invalid'] {
	background-color: var(--severitium-red-transparent-background1);
	color: var(--severitium-red-text-color);
}

/* Button of login/registration */

.EntranceComponentStyle-ContainerForm form div[class*='EntranceComponentStyle-button'i] {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	margin: 0;
	margin-top: 1em;
	padding: 1em 1em;
	-ms-grid-row-align: center;
		align-self: center;
}

/* Disabled button (in forms or 'header' of the entrance page) */

.EntranceComponentStyle-ContainerForm form div[class*='EntranceComponentStyle-button'i][class*='buttonnoactive'i],
.HeaderComponentStyle-supportBlock div[class*='EntranceComponentStyle-button'i][class*='buttonnoactive'i] {
	background-color: var(--severitium-light-transparent-background1);
}

/* Active button (in forms or 'header' of the entrance page) */

.EntranceComponentStyle-ContainerForm form div[class*='EntranceComponentStyle-button'i][class*='buttonactive'i],
.HeaderComponentStyle-supportBlock div[class*='EntranceComponentStyle-button'i][class*='buttonactive'i] {
	background-color: var(--severitium-gray-button-background);
	border: .1em solid var(--severitium-gray-button-border-color);
	transition: background-color .2s ease, border-color .2s ease;
}

/* Active button on hover (in forms or 'header' of the entrance page) */

.EntranceComponentStyle-ContainerForm form div[class*='EntranceComponentStyle-button'i][class*='buttonactive'i]:hover,
.HeaderComponentStyle-supportBlock div[class*='EntranceComponentStyle-button'i][class*='buttonactive'i]:hover {
	background-color: var(--severitium-green-button-background);
	border-color: var(--severitium-green-button-border-color-hover);
}

/* Disabled button (in forms or 'header' of the entrance page) */

.EntranceComponentStyle-ContainerForm form div[class*='EntranceComponentStyle-button'i][class*='buttonnoactive'i] span,
.HeaderComponentStyle-supportBlock div[class*='EntranceComponentStyle-button'i][class*='buttonnoactive'i] span {
	color: var(--severitium-black-text-color);
}


/* Active button text (in forms or 'header' of the entrance page) */

.EntranceComponentStyle-ContainerForm form div[class*='EntranceComponentStyle-button'i][class*='buttonactive'i] span,
.HeaderComponentStyle-supportBlock div[class*='EntranceComponentStyle-button'i][class*='buttonactive'i] span {
	color: var(--severitium-white-text-color);
}

/* Custom checkbox visuals */

/* Label */

.EntranceComponentStyle-checkbox > .CheckBoxStyle-checkbox > label {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 1em;
}

/* Input (hidden) */

.EntranceComponentStyle-checkbox > .CheckBoxStyle-checkbox > label > input {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.EntranceComponentStyle-checkbox > .CheckBoxStyle-checkbox > label > .checkbox-text {
	font-size: 1.125em;
	white-space: nowrap;
}

/* Container of the checkbox */

.EntranceComponentStyle-checkbox > .CheckBoxStyle-checkbox > label > input + .checkbox-icon {
	width: 2.5em;
	height: 2.5em;
	flex-shrink: 0;
	overflow: visible;
}

/* Borders */

.EntranceComponentStyle-checkbox > .CheckBoxStyle-checkbox > label > input + .checkbox-icon rect {
	stroke-width: .1em;
	stroke: var(--severitium-green-color);
	transition: stroke .2 ease;
}

/* Checkbox checkmark */

.EntranceComponentStyle-checkbox > .CheckBoxStyle-checkbox > label > input + .checkbox-icon .tick {
	stroke: var(--severitium-green-color);
	stroke-dasharray: 100%;
	stroke-dashoffset: 100%;
	transition: stroke-dashoffset 0.2s ease-out;
	stroke-width: .15em;
}

/* Checkbox checkmark when input is checked */

.EntranceComponentStyle-checkbox > .CheckBoxStyle-checkbox > label > input:checked + .checkbox-icon .tick {
	stroke-dashoffset: 0%;
}

/* Start screen container with logo, tankionline icon and text */

.EntranceComponentStyle-ContainerForm form > div.StartScreenComponentStyle-mainContainer {
	-webkit-transform: scale(.8);
			transform: scale(.8);
	transition: -webkit-transform .2s ease;
	transition: transform .2s ease;
	transition: transform .2s ease, -webkit-transform .2s ease;
	-webkit-animation: startcontainer-animation 5s linear infinite;
			animation: startcontainer-animation 5s linear infinite;
}

/* Animation for start screen container with logo, tankionline icon and text */

@-webkit-keyframes startcontainer-animation {
	0%, 100% {
		-webkit-transform: scale(.8);
				transform: scale(.8);
	}
	50% {
		-webkit-transform: scale(1);
				transform: scale(1);
	}
}

@keyframes startcontainer-animation {
	0%, 100% {
		-webkit-transform: scale(.8);
				transform: scale(.8);
	}
	50% {
		-webkit-transform: scale(1);
				transform: scale(1);
	}
}

/* Buttons container in license agreement */

.LicenseComponentStyle-buttonsBlock {
	width: auto;
	display: flex;
	gap: 1em;
}