/* Mask on clan creation modal */

.ClanCreateComponentStyle-rectangle {
	display: none;
}

/* Header container of the modal */

.ClanCreateComponentStyle-descriptionInfo {
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Text container */

.ClanCreateComponentStyle-descriptionInfo .ClanCreateComponentStyle-blockDetailsDescription {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Header text */

.ClanCreateComponentStyle-descriptionInfo span {
	margin: 0;
	color: var(--severitium-white-text-color);
}

/* No licence inner text */

.ClanNoLicenseComponentStyle-DescriptionCreate p {
	color: var(--severitium-white-text-color);
}

/* Bottom buttons container */

.ClanCreateComponentStyle-containerButtons {
	background-color: transparent;
	margin-bottom: .5em;
}

/* Bottom buttons */

/* Left-side buttons */

/* Button */

.ClanCreateComponentStyle-leftBlockButtons > div {
	outline: none;
	box-shadow: none;
	padding: .5em 0;
	border-radius: .25em;
	background: var(--severitium-gray-button-background);
	border: var(--severitium-gray-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.ClanCreateComponentStyle-leftBlockButtons > div:hover {
	border: var(--severitium-gray-button-border-color-hover) solid .1em;
}

/* Button text */

.ClanCreateComponentStyle-leftBlockButtons > div > span {
	color: var(--severitium-gray-button-color);
}

/* Right-side buttons */

/* Button */

.ClanCreateComponentStyle-rightBlockButtons > div {
	outline: none;
	box-shadow: none;
	padding: .5em 0;
	border-radius: .25em;
	background: var(--severitium-green-button-background);
	border: var(--severitium-green-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.ClanCreateComponentStyle-rightBlockButtons > div:hover {
	border: var(--severitium-green-button-border-color-hover) solid .1em;
}

/* Button text */

.ClanCreateComponentStyle-rightBlockButtons > div > span {
	color: var(--severitium-green-button-color);
}

/* Button hotkey container */

.ClanCreateComponentStyle-leftBlockButtons > div > [class*='hotkey'i],
.ClanCreateComponentStyle-rightBlockButtons > div > [class*='hotkey'i] {
	background: transparent;
	border: var(--severitium-gray-color) dashed .1em;
	border-radius: .1em;
	height: auto;
	min-height: auto;
	max-height: none;
	width: auto;
	min-width: auto;
	max-width: none;
	margin: 0 .5em;
	padding: .1em .2em;
}

/* Button hotkey text */

.ClanCreateComponentStyle-leftBlockButtons > div > [class*='hotkey'i] > span,
.ClanCreateComponentStyle-rightBlockButtons > div > [class*='hotkey'i] > span {
	color: var(--severitium-dark-white-text-color);
}

/* Inputs inside create clan container */

/* Input's label */

.ClanCreateComponentStyle-blockLicense form label {
	color: var(--severitium-white-text-color);
	font-size: 1.15em;
	opacity: 1;
}

/* Input */

.ClanCreateComponentStyle-blockLicense .SearchInputComponentStyle-searchInput input {
	box-shadow: none;
	border-radius: 0;
	border-bottom: .1em solid var(--severitium-light-gray-color);
	color: var(--severitium-white-text-color);
}

/* Input on hover */

.ClanCreateComponentStyle-blockLicense .SearchInputComponentStyle-searchInput input:hover {
	box-shadow: none;
}

/* Input on focus */

.ClanCreateComponentStyle-blockLicense .SearchInputComponentStyle-searchInput input:focus {
	border-color: var(--severitium-white-color);
}

/* Input's placeholder */

.ClanCreateComponentStyle-blockLicense .SearchInputComponentStyle-searchInput input::-webkit-input-placeholder {
	color: var(--severitium-light-gray-text-color);
	-webkit-transition: color .2s ease;
	transition: color .2s ease;
}

.ClanCreateComponentStyle-blockLicense .SearchInputComponentStyle-searchInput input:-ms-input-placeholder {
	color: var(--severitium-light-gray-text-color);
	-ms-transition: color .2s ease;
	transition: color .2s ease;
}

.ClanCreateComponentStyle-blockLicense .SearchInputComponentStyle-searchInput input::placeholder {
	color: var(--severitium-light-gray-text-color);
	transition: color .2s ease;
}

/* Placeholder of the input on input container hover & input on focus */

.ClanCreateComponentStyle-blockLicense .SearchInputComponentStyle-searchInput:hover input::-webkit-input-placeholder, .ClanCreateComponentStyle-blockLicense .SearchInputComponentStyle-searchInput input:focus::-webkit-input-placeholder {
	color: var(--severitium-white-text-color);
}

.ClanCreateComponentStyle-blockLicense .SearchInputComponentStyle-searchInput:hover input:-ms-input-placeholder, .ClanCreateComponentStyle-blockLicense .SearchInputComponentStyle-searchInput input:focus:-ms-input-placeholder {
	color: var(--severitium-white-text-color);
}

.ClanCreateComponentStyle-blockLicense .SearchInputComponentStyle-searchInput:hover input::placeholder,
.ClanCreateComponentStyle-blockLicense .SearchInputComponentStyle-searchInput input:focus::placeholder {
	color: var(--severitium-white-text-color);
}

/* Icon when input has some text */

.ClanCreateComponentStyle-blockLicense .SearchInputComponentStyle-searchInput input + div[class*='image'i] {
	right: .5em;
	height: 1.25em;
	width: 1.25em;
	background-image: none;
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
}

/* Icon if the input is incorrect */

.ClanCreateComponentStyle-blockLicense .SearchInputComponentStyle-searchInput:has( + span) input + div[class*='image'i] {
	-webkit-mask-image: url('data:image/svg+xml,<svg width="21" height="21" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.4545 14.3182L11.4545 16.2273L9.54546 16.2273L9.54546 14.3182L11.4545 14.3182ZM11.4545 4.77273L11.4545 12.4091L9.54546 12.4091L9.54546 4.77273L11.4545 4.77273ZM10.5 1.90909C5.75537 1.90909 1.90909 5.75537 1.90909 10.5C1.90909 15.2446 5.75537 19.0909 10.5 19.0909C15.2446 19.0909 19.0909 15.2446 19.0909 10.5C19.0909 5.75537 15.2446 1.90909 10.5 1.90909ZM10.5 -9.17939e-07C4.70101 -1.4249e-06 1.4249e-06 4.70101 9.17939e-07 10.5C4.10975e-07 16.299 4.70101 21 10.5 21C16.299 21 21 16.299 21 10.5C21 4.70101 16.299 -4.10975e-07 10.5 -9.17939e-07Z" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg width="21" height="21" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.4545 14.3182L11.4545 16.2273L9.54546 16.2273L9.54546 14.3182L11.4545 14.3182ZM11.4545 4.77273L11.4545 12.4091L9.54546 12.4091L9.54546 4.77273L11.4545 4.77273ZM10.5 1.90909C5.75537 1.90909 1.90909 5.75537 1.90909 10.5C1.90909 15.2446 5.75537 19.0909 10.5 19.0909C15.2446 19.0909 19.0909 15.2446 19.0909 10.5C19.0909 5.75537 15.2446 1.90909 10.5 1.90909ZM10.5 -9.17939e-07C4.70101 -1.4249e-06 1.4249e-06 4.70101 9.17939e-07 10.5C4.10975e-07 16.299 4.70101 21 10.5 21C16.299 21 21 16.299 21 10.5C21 4.70101 16.299 -4.10975e-07 10.5 -9.17939e-07Z" fill="white"/></svg>');
	background-color: var(--severitium-red-color);
}

/* Icon if the input is correct */

.ClanCreateComponentStyle-blockLicense .SearchInputComponentStyle-searchInput:not(:has( + span)) input + div[class*='image'i] {
	-webkit-mask-image: url('data:image/svg+xml,<svg width="8" height="8" viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg"><circle cx="4" cy="4" r="4" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg width="8" height="8" viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg"><circle cx="4" cy="4" r="4" fill="white"/></svg>');
	background-color: var(--severitium-green-color);
}

/* Text if the input is incorrect */

.ClanCreateComponentStyle-blockLicense .SearchInputComponentStyle-searchInput + span {
	color: var(--severitium-red-text-color);
}