/* Common challenges container */

.BattlePassLobbyComponentStyle-menuBattlePass {
	-webkit-filter: none;
			filter: none;
	-webkit-backdrop-filter: blur(.2em);
			backdrop-filter: blur(.2em);
	background: none;
	background-color: var(--severitium-dark-transparent-background1);
	box-shadow: 0 0 0 .075em var(--severitium-main-color);
	border-radius: 0;
	transition: none;
	transition: box-shadow .2s ease, background-color .2s ease, -webkit-backdrop-filter .2s ease;
	transition: box-shadow .2s ease, background-color .2s ease, backdrop-filter .2s ease;
	transition: box-shadow .2s ease, background-color .2s ease, backdrop-filter .2s ease, -webkit-backdrop-filter .2s ease;
}

/* Common challenges container on hover */

.BattlePassLobbyComponentStyle-menuBattlePass:hover {
	-webkit-backdrop-filter: blur(.5em);
			backdrop-filter: blur(.5em);
	background-color: var(--severitium-dark-transparent-background2);
	box-shadow: 0 0 0 .1em var(--severitium-main-color);
}

/* Common challenges container pseudo elements for corner border hover animation */

.BattlePassLobbyComponentStyle-menuBattlePass::before,
.BattlePassLobbyComponentStyle-menuBattlePass::after {
	content: '';
	position: absolute;
	width: 2em;
	height: 2em;
	opacity: 0;
	z-index: -1;
	transition: all .2s ease;
}

/* Common challenges container before pseudo element (top-right corner) */

.BattlePassLobbyComponentStyle-menuBattlePass::before {
	content: '';
	right: -.75em;
	top: -.75em;
	border-top: var(--severitium-main-color) solid .25em;
	border-right: var(--severitium-main-color) solid .25em;
	-webkit-transform: translate(100%, -50%);
			transform: translate(100%, -50%);
}

/* Common challenges container after pseudo element (bottom-left corner) */

.BattlePassLobbyComponentStyle-menuBattlePass::after {
	content: '';
	left: -.75em;
	bottom: -.75em;
	border-bottom: var(--severitium-main-color) solid .25em;
	border-left: var(--severitium-main-color) solid .25em;
	-webkit-transform: translate(-100%, 50%);
			transform: translate(-100%, 50%);
}

/* Common challenges container pseudo elements on hover */

.BattlePassLobbyComponentStyle-menuBattlePass:hover::before,
.BattlePassLobbyComponentStyle-menuBattlePass:hover::after {
	-webkit-transform: translate(0,0);
			transform: translate(0,0);
	opacity: 1;
}

/* Container and all elements inside it */

.BattlePassLobbyComponentStyle-menuBattlePass,
.BattlePassLobbyComponentStyle-menuBattlePass * {
	box-sizing: border-box;
}

/* Container's header */

.BattlePassLobbyComponentStyle-descriptionMenuPass > div:first-child > span {
	color: var(--severitium-main-color);
}

/* Timer text */

.BattlePassLobbyComponentStyle-timers span {
	color: var(--severitium-main-color);
}

/* Block of revards inside the container */

.BattlePassLobbyComponentStyle-blockBattlePass {
	background-color: transparent;
	border: .05em solid var(--severitium-dark-gray-color);
	border-radius: 0;
}

/* Simple revards block */

/* Price text */

.BattlePassLobbyComponentStyle-blockBattlePass .BattlePassLobbyComponentStyle-commonDescription:not(.BattlePassLobbyComponentStyle-premiumPass) > span {
	color: var(--severitium-white-text-color);
}

/* Level text */

.BattlePassLobbyComponentStyle-blockBattlePass .BattlePassLobbyComponentStyle-commonDescription:not(.BattlePassLobbyComponentStyle-premiumPass) > p {
	color: var(--severitium-light-gray-text-color);
}

/* BP revards block */

/* Price text */

.BattlePassLobbyComponentStyle-blockBattlePass .BattlePassLobbyComponentStyle-commonDescription.BattlePassLobbyComponentStyle-premiumPass > span {
	color: var(--severitium-gold-text-color);
}

/* Level text (locked) */

.BattlePassLobbyComponentStyle-blockBattlePass .BattlePassLobbyComponentStyle-commonDescription.BattlePassLobbyComponentStyle-premiumPass.BattlePassLobbyComponentStyle-lockedBlock > p {
	color: var(--severitium-red-text-color);
}

/* Level text (not locked) */

.BattlePassLobbyComponentStyle-blockBattlePass .BattlePassLobbyComponentStyle-commonDescription.BattlePassLobbyComponentStyle-premiumPass:not(.BattlePassLobbyComponentStyle-lockedBlock) > p {
	color: var(--severitium-red-text-color);
}

/* Image of closed revard */

.BattlePassLobbyComponentStyle-imageClosed {
	background-image: none;
	background-color: var(--severitium-red-color);
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: 30%;
			mask-size: 30%;
	-webkit-mask-image: url('data:image/svg+xml,<svg viewBox="0 0 15 19" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.51442 3.90679C3.95027 4.70077 3.75 5.69159 3.75 6.33333H1.25C1.25 5.28619 1.54973 3.74368 2.48558 2.42655C3.46733 1.04483 5.0926 0 7.5 0C9.9074 0 11.5327 1.04483 12.5144 2.42655C13.4503 3.74368 13.75 5.28619 13.75 6.33333H11.25C11.25 5.69159 11.0497 4.70077 10.4856 3.90679C9.96733 3.17739 9.0926 2.53333 7.5 2.53333C5.9074 2.53333 5.03267 3.17739 4.51442 3.90679Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M3.75 6.33333H1.25H0V19H15V6.33333H13.75H11.25H3.75ZM7.49994 10.0818C6.56076 10.0818 5.79941 10.8533 5.79941 11.805C5.79941 12.4429 6.14138 12.9998 6.64967 13.2977V15.2514H8.3502V13.2977C8.85849 12.9998 9.20046 12.4429 9.20046 11.805C9.20046 10.8533 8.43911 10.0818 7.49994 10.0818Z" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg viewBox="0 0 15 19" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.51442 3.90679C3.95027 4.70077 3.75 5.69159 3.75 6.33333H1.25C1.25 5.28619 1.54973 3.74368 2.48558 2.42655C3.46733 1.04483 5.0926 0 7.5 0C9.9074 0 11.5327 1.04483 12.5144 2.42655C13.4503 3.74368 13.75 5.28619 13.75 6.33333H11.25C11.25 5.69159 11.0497 4.70077 10.4856 3.90679C9.96733 3.17739 9.0926 2.53333 7.5 2.53333C5.9074 2.53333 5.03267 3.17739 4.51442 3.90679Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M3.75 6.33333H1.25H0V19H15V6.33333H13.75H11.25H3.75ZM7.49994 10.0818C6.56076 10.0818 5.79941 10.8533 5.79941 11.805C5.79941 12.4429 6.14138 12.9998 6.64967 13.2977V15.2514H8.3502V13.2977C8.85849 12.9998 9.20046 12.4429 9.20046 11.805C9.20046 10.8533 8.43911 10.0818 7.49994 10.0818Z" fill="white"/></svg>');
}