:root {
	/* Main theme colors */

	--theme-main-color: rgb(90, 218, 121);

	/* Theme text colors */

	--theme-white-text-color: rgb(255, 255, 255);
	--theme-dark-white-text-color: rgb(225, 225, 225);
	--theme-extra-light-gray-text-color: rgb(200, 200, 200);
	--theme-light-gray-text-color: rgb(150, 150, 150);
	--theme-black-text-color: rgb(0, 0, 0);
	--theme-red-text-color: rgb(255, 100, 100);
	--theme-gold-text-color: rgb(255, 200, 100);

	/* Theme backgrounds */

	--theme-dark-transparent-background1: rgba(0, 0, 0, .5);
	--theme-dark-transparent-background2: rgba(0, 0, 0, .25);
	--theme-dark-transparent-background3: rgba(0, 0, 0, .1);
	--theme-dark-transparent-background4: rgba(0, 0, 0, .75);

	--theme-light-transparent-background1: rgba(255, 255, 255, .5);
	--theme-light-transparent-background2: rgba(255, 255, 255, .25);
	--theme-light-transparent-background3: rgba(255, 255, 255, .1);

	--theme-red-transparent-background1: rgba(255, 0, 0, .1);

	/* Theme additional colors */

	--theme-white-color: rgb(255, 255, 255);
	--theme-extra-light-gray-color: rgb(200, 200, 200);
	--theme-light-gray-color: rgb(150, 150, 150);
	--theme-gray-color: rgb(100, 100, 100);
	--theme-dark-gray-color: rgb(50, 50, 50);
	--theme-black-color: rgb(0, 0, 0);
	--theme-light-green-color: rgb(75, 255, 58);
	--theme-green-color: rgb(75, 200, 75);
	--theme-red-color: rgb(225, 75, 75);

	/* Theme button colors */

	--theme-gray-button-background: rgba(225, 225, 225, .2);
	--theme-gray-button-color: rgb(255, 255, 255);
	--theme-gray-button-border-color: rgba(255, 255, 255, .25);
	--theme-gray-button-border-color-hover: rgba(255, 255, 255, .75);
	
	--theme-green-button-background: rgba(27, 242, 67, 0.2);
	--theme-green-button-color: rgb(112, 232, 114);
	--theme-green-button-border-color: rgba(27, 242, 67, .25);
	--theme-green-button-border-color-hover: rgba(27, 242, 67, .75);

	--theme-red-button-background: rgba(242, 27, 27, 0.2);
	--theme-red-button-color: rgb(255, 169, 169);
	--theme-red-button-border-color: rgba(242, 27, 27, .25);
	--theme-red-button-border-color-hover: rgba(242, 27, 27, .75);

	/* Theme colors for battle tab */

	--theme-tab-background: rgba(0, 0, 0, .75);
	--theme-tab-borders-color: rgb(80, 80, 80);
	--theme-tab-borders-hover-color: rgb(255, 255, 255);
	--theme-tab-header-border-color: rgb(100, 100, 100);
	--theme-tab-other-string-background: rgba(50, 50, 50, .25);
	--theme-tab-self-string-background: rgba(255, 255, 255, .25);
	--theme-tab-nickname-color: rgb(200, 200, 200);
	--theme-tab-nickname-hover-color: rgb(255, 255, 255);
}