/* Dropdown outer container */

.UidInputComponentStyle-dropDownRoot .DropDownStyle-outerContainerStyle {
	border-radius: 0;
	border: .1em solid var(--severitium-light-gray-color);
}

/* Dropdown inner container */

.DropDownStyle-innerContainerStyle {
	-webkit-backdrop-filter: blur(.2em);
			backdrop-filter: blur(.2em);
	background-color: var(--severitium-dark-transparent-background1);
}

/* Dropdown list item */

.DropDownStyle-innerContainerStyle > div > div {
	background-color: transparent;
	transition: background-color .2s ease;
}

/* Dropdown list item on hover */

.DropDownStyle-innerContainerStyle > div > div:hover {
	background-color: var(--severitium-light-transparent-background2);
}

/* Dropdown list first item (text 'incorrect') */

.DropDownStyle-innerContainerStyle > div > div > span:not(.UidInputComponentStyle-firstItem) {
	color: var(--severitium-white-text-color);
}

/* Dropdown list first item inside the login/register form */

.EntranceComponentStyle-ContainerForm form .DropDownStyle-innerContainerStyle > div:first-child > div {
	pointer-events: none;
}