/* Chat text container */

div[class*="BattleChatComponentStyle-inputContainer"] {
	background: var(--transparent-color1);
	-webkit-backdrop-filter: blur(.2em);
			backdrop-filter: blur(.2em);
}

/* Chat text container, background behind the icon of chat mode */

div[class*="BattleChatComponentStyle-inputContainer"] > div {
	background: var(--transparent-color4);
}